* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbdbc5;
    color: #318;
    font-family: 'Alumni Sans', sans-serif;
}

.container {
    background: #fff;
    max-width: 450px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form {
    margin-top: 4px;
    margin-bottom: 4px;
}

.form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form input {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    border: 1.5px solid rgba(87, 33, 224, 0.467);
    border-radius: 8px;
}

.form input:focus {
    background: rgba(221, 208, 255, 0.877);
}

.form button {
    background:#cb88f8;
    height: 32px;
    border: none;
    color: #FFF;
    border-radius: 54px;
    margin-top: 4px;
    margin-bottom: 4px;

    transition: background 0.3s;
}

.form button:hover {
    background:#b274db;
}
.separator {
    background: #999;
    height: 2px;
    border-radius: 1px;
}

.llist-task {
    margin-top: 12px;
    margin-bottom: 12px;
}

.list-task ul {
    list-style: none;
    font-size: 18px;
}

.list-task ul li {
    background:#1f536b;
    height: 32px;
    color: #FFF;
    border-radius: 54px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;

    display: flex;
    justify-content: left;
    align-items: center;

    transition: background 0.3s;
}

.list-task ul li:hover {
    background:#2b6e8d;
}

.btn-clear {
    background: #d45656;
    height: 35px;
    border: none;
    color: #FFF;
    border-radius: 6px;
    padding: 0 12px;

    transition: background 0.3s;
}

.btn-clear:hover {
    background: #b82929;
}

.footer {
    text-align: center;
    background: #d4d4d4;
    border-radius: 4px;
    padding: 12px;
}

.footer p {
    color: rgb(105, 105, 105);
    font-size: 12px;
}
